# Ignore environment variables file
.env

# Ignore Python cache directories
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
.env/
ENV/
env/
.venv/

# Ignore IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore test output
*.log

# Ignore the output directory
output/
outputs/

examples/train_and_run_transformer.py

# Model stuff
137_team_meta.jsonl
137_team.faiss
/examples/rag_137_team.py
